* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
  background-color: #21222a;
}

.nav-logo-text,
.nav-title {
  margin: 0;
}

.nav-logo-text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav-title {
  font-weight: 600;
  color: #deebf8;
}

.nav-icon {
  height: 30px;
  width: 30px;
  margin-right: 8px;
}

main {
  padding: 56px 28px;
  color: white;
}

.main-title {
  margin: 0;
  font-size: 40px;
  letter-spacing: -0.05em;
}

.main-facts {
  margin-top: 44px;
}

.main-facts li {
  line-height: 20px;
  padding-block: 10px;
  /* max-width: 400px; */
}

.main-facts li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
